{% extends '../usuario/plantillabusqueda.html' %}
{% load static %}

{% block title %}

{% endblock title %}



{% block head %}
<link rel="stylesheet" href="{% static 'app/css/categoria.css' %}">
<script src="{% static 'app/' %}js/categoria.js"></script>
{% endblock head %}


{% block body %}

<div class="container-fluid">
    {% comment %} <form method="GET" action="{% url 'categoria' %}">
        {% csrf_token %} {% endcomment %}
        {% comment %} <div>
            <label for="{{ form.busqueda.id_for_label }}">Búsqueda:</label>
            {{ form.busqueda }}
        </div> {% endcomment %}
        {% comment %} <div>
            <label for="{{ form.categoria.id_for_label }}">Categoría:</label>
            {{ form.categoria }}
        </div> {% endcomment %}
        {% comment %} <button type="submit">Buscar</button> {% endcomment %}



        <div class="row">
            <!-- Filtro -->
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card mt-2">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa-solid fa-filter"></i> Filtros</h4>
                        <hr>

                        
                        <div class="mb-2">
                            <label for="{{ formbusqueda.categoria.id_for_label }}">Categoría:</label>
                            {{ formbusqueda.categoria }}
                        </div>
                        <div>
                            <label for="{{ formbusqueda.marca.id_for_label }}">Marca:&nbsp&nbsp&nbsp&nbsp&nbsp</label>     
                            {{ formbusqueda.marca }}
                        </div>

                        </p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div id="productos">
                    <div class="row">
                        {% for producto in productos %}
                        <div class="col-lg-3 col-md-6">
                            <a href="{% url 'detalle_producto' producto.id_producto %}">
                                <div class="card mt-2 cardproduct">
                                    {% if producto.imagen %}
                                    <img src="media/{{producto.imagen}}" class="card-img-top" alt="N/A">
                                    {% else %}
                                        <img src="{% static 'app/' %}img/not_found.png" class="card-img-top" alt="N/A">
                                    {% endif %}

                                    
                                    <div class="card-body cardp">
                                        <h3 class="card-title text-center"
                                            style="text-overflow: ellipsis; overflow: hidden;">{{producto.nom_producto}}
                                        </h3>
                                        <p class="card-subtitle text-center"
                                            style="text-overflow: ellipsis; overflow: hidden;">{{producto.marca}}</p>
                                        <hr class="my-2" />
                                        <p class="card-text text-center">{{producto.precio}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var categoriaSelect = document.getElementById('{{ formbusqueda.categoria.auto_id }}');
        var marcaSelect = document.getElementById('{{ formbusqueda.marca.auto_id }}');

        categoriaSelect.addEventListener('change', function () {
            document.getElementById('fprincipal').submit();
        });

        marcaSelect.addEventListener('change', function () {
            document.getElementById('fprincipal').submit();
        });
    });
</script>
{% endblock script %}

{% endblock body %}