{% extends '../app/plantilla.html' %}
{% load static %}
{% block title %}
    <title>Pedidos</title>
{% endblock title %}
{% block body %}
    <a name="" id="" class="btn btn-danger m-2" href="usuario.html" role="button">Volver</a>
    <h2 class="m-2">Pedidos</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nro.pedido</th>
                    <th scope="col">idProducto</th>
                    <th scope="col">idCliente</th>
                    <th scope="col">nombreCliente</th>
                    <th scope="col">cantidad</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Cancelar
                            Pedido</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Ver Pedido</a></td>
                </tr>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Cancelar
                            Pedido</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Ver Pedido</a></td>
                </tr>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Cancelar
                            Pedido</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Ver Pedido</a></td>
                </tr>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Cancelar
                            Pedido</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Ver Pedido</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock body %}