{% extends 'app/admin/plantilla_admin.html' %}
{% load static %}
{% block title %}
    <title>Editar usuarios</title>
{% endblock title %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Data table css -->
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/admin.css">
{% endblock head %}
{% block body %}
    <div class="container mt-5">
        <div class="row my-5">
            <div class="col-sm-12 col-md-12 col-lg-12 cot-xl-12">
                <div class="mb-2" style="text-align: right;">
                    <a href="{% url 'crearproductos' %}" role="button" class="btn btn-primary text-light">Añadir Producto</a>
                </div>
                <div class="table-responsive">
                    <table id="datatable-responsive" class="table table-striped table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th class="centered">ID</th>
                                <th class="centered">Nombre</th>
                                <th class="centered">Precio</th>
                                <th class="centered">Stock</th>
                                <th class="centered">Categoria</th>
                                <th class="centered">Marca</th>
                                <th class="centered">Opciones</th>
                            </tr>

                        </thead>
                        <tbody id="table_body_clientes">

                        </tbody>
                    </table>
                    
                </div>
                
            </div>

        </div>


    </div>


    <!-- Data tables js -->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTable.js -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"></script>

    <script src="{% static 'app/js/productos.js' %}"></script>
{% endblock body %}