{% extends '../app/plantilla_admin.html' %}
{% load static %}
{% block title %}
    <title>Editar usuarios</title>
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="css/admin.css">
{% endblock head %}
{% block body %}
    <h2 class="m-2">Producto</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="adminProductoModificar.html"
                            role="button">Modificar</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Eliminar</a></td>
                </tr>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="adminProductoModificar.html"
                            role="button">Modificar</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Eliminar</a></td>
                </tr>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="adminProductoModificar.html"
                            role="button">Modificar</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Eliminar</a></td>
                </tr>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td><a name="" id="" class="btn btn-primary" href="adminProductoModificar.html"
                            role="button">Modificar</a></td>
                    <td><a name="" id="" class="btn btn-primary" href="#" role="button">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        <a name="" id="" class="btn btn-primary btn-lg" href="adminProductoAnadir.html" role="button">Añadir</a>
    </div>
{% endblock body %}