{% extends '../app/plantilla.html' %}
{% load static %}
{% block title %}
    <title>Mi cuenta</title>
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="css/usuario_modificar.css">
{% endblock head %}
{% block body %}
    <div class="divp" id="principal">
        <img src="img/administrador.png" alt="not found" class="img-user">
        <h3 style="display: inline-block;">Modificar datos usuario</h3>
    </div>

    <div class="divp">
        <form class="form-user" action="index_principal.html" id="formulario" method="get">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Ingrese su nombre" required>
            </div>
            <!-- Apellido -->
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" placeholder="Ingrese su apellido" required>
            </div>
            <!-- Rut -->
            <div>
                <label for="rut">Rut</label>
                <input type="text" id="rut" placeholder="XXXXXXXX-X" required>
            </div>
            <!-- Mail -->
            <div>
                <label for="mail">Correo</label>
                <input type="email" id="mail" placeholder="Ingrese su correo" required>
            </div>
            <!-- Contraseña -->
            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" placeholder="Ingrese su contraseña" required>
            </div>
            <button type="submit" onclick="location.reload()">Modificar</a></button>
        </form>
    </div>
{% endblock body %}
{% block script %}
    <script src="js/log.js"></script>
{% endblock script %}