body {
    background: #ffffff;
    padding-top: 4.5rem;
}

#productos a {
    all: unset;
    cursor: pointer;
}

#productos .card:hover {
    opacity: 0.85;
}

.cardp {
    white-space: nowrap;
        /* Hace que el texto se ajuste en una sola línea */
    overflow: hidden;
    /* Añade puntos suspensivos (...) al final del texto si se desborda */
    text-overflow: ellipsis;
}