body {
    background: #ffffff;
    padding-top: 6rem;
}

#productos a {
    all: unset;
    cursor: pointer;
}

#productos .card:hover {
    opacity: 0.85;
}

#id_categoria {
    font-family: sans-serif;
    border-radius: 15px;
    height: 2.5rem;
}

#id_marca {
    font-family: sans-serif;
    border-radius: 15px;
    height: 2.5rem;
}

.cardp {
    white-space: nowrap;
        /* Hace que el texto se ajuste en una sola línea */
    overflow: hidden;
    /* Añade puntos suspensivos (...) al final del texto si se desborda */
    text-overflow: ellipsis;
}