body {
    background: #414141;
    padding-top: 4.5rem;
}

#productos a {
    all: unset;
    cursor: pointer;
}

#productos .card:hover {
    opacity: 0.85;
}

.cardproduct {
    /* max-height: 300px;
    overflow: hidden; */
}


