
.btnbusqueda {
    padding: 10px;
    background-color: #ffff;
    margin-right: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}


.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-bar button[type="submit"] {
    background: none;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

.navbar {
    background-color: #191919;
    font-family: sans-serif;
}

.navbar-nav a{
    margin: auto;
    margin-left: 1%;
}

.margen{
margin-bottom: 3%;    
}

.navbar-brand:hover{
    color: rgb(193, 192, 255);
}

.navbar a {
    color: white;
}

.navbar hr {
    color: black;
}

.divcarrusel {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

/* estilo footer */
.estilofooter {
    background-color:#191919 ;
    height: 80px;
    width: 100%;
}

.estilofooter p {
    color: white;
    text-align: center;
}

.estiloimagen {
    margin-bottom: 3%;
    margin-top: 1%;
}

h1 {
    margin-top: 5%;
    margin-bottom: 1%;
    color: blue;
}

.estiloinput{
    margin-bottom: 5%;
}

.margenbarramenu{
    margin-top: 10%;
}

.celular p {
    display: none;
}





@media screen and (min-width: 280px) and (max-width: 600px) {

    .contenido_nav {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    



}




